html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./pictures/neutral.JPG');
  background-size: cover;
  background-position: bottom center;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.key.clap {
  background-image: url('./pictures/closeups/clap.jpg');
  background-size: cover;
  background-position: center;
}

.key.hihat {
  background-image: url('./pictures/closeups/hihat.jpg');
  background-size: cover;
  background-position: center;
}


.key.kick {
  background-image: url('./pictures/closeups/kick.JPG');
  background-size: cover;
  background-position: center;
}

.key.openhat {
  background-image: url('./pictures/closeups/openhats.jpg')  ;
  background-size: cover;
  background-position: center;
}

.key.boom {
  background-image: url('./pictures/closeups/sample.JPG');
  background-size: cover;
  background-position: center;
}

.key.ride {
  background-image: url('./pictures/closeups/ride.JPG');
  background-size: cover;
  background-position: center;
}

.key.snare {
  background-image: url('./pictures/closeups/snare.JPG');
  background-size: cover;
  background-position: center;
}

.key.tom {
  background-image: url('./pictures/closeups/tom3.JPG');
  background-size: cover;
  background-position: center;
}

.key.gong {
  background-image: url('./pictures/closeups/gong.JPG');
  background-size: cover;
  background-position: center;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

#myDiv {
  background-image: "./pictures/neutral.jpg";
  background-size: cover;
  background-position: bottom center;
}
